h1 {
    text-align: center;
    color: cornflowerblue;
  }

.btn-primary{
    background-color: cornflowerblue;
    border:cornflowerblue;
    color: white;
}

.rant{
  display:  flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

