h1 {
    text-align: center;
    color: cornflowerblue;
    background-color:lightskyblue
  }

.btn-primary{
    background-color: cornflowerblue;
    border:cornflowerblue;
    color: white;
}

.rant{
  display:  flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  height: 500px;
  width: 500px;
}

nav {
  background-color: cornflowerblue;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}

body {
  background-color: lightblue;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}


